<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
	<!--<extension 
	  point="org.eclipse.ui.handlers">
     <handler
           class="edu.kit.ipd.sdq.mdsd.pcm2java.commands.CreatejavaHandler"
           commandId="edu.kit.ipd.sdq.mdsd.pcm2java.commands.createjava">
     </handler>
  </extension>-->
   <extension
         point="org.eclipse.ui.commands">
      <command
            defaultHandler="edu.kit.ipd.sdq.mdsd.pcm2java.handler.PCM2JavaHandler"
            id="edu.kit.ipd.sdq.mdsd.pcm2java.commands.createjava"
            name="Create Java Code">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="popup:org.eclipse.ui.popup.any?after=additions">
         <separator
               name="edu.kit.ipd.sdq.mdsd.pcm2java.beforeseparator"
               visible="true">
         </separator>
         <menu
               id="kastelCodeAnalysis"
               label="KASTEL Code Analysis">
            <command
                  commandId="edu.kit.ipd.sdq.mdsd.pcm2java.commands.createjava"
                  label="Create Java Code"
                  style="push"
                  tooltip="Create Java Code">
            </command>
            <visibleWhen
                  checkEnabled="false">
               <with
                     variable="activeMenuSelection">
                  <iterate>
				       <adapt type="org.eclipse.core.resources.IResource">
              <or>
                 <test
                       property="org.eclipse.core.resources.name"
                       value="*.repository">
                 </test>
                 <!--<test
                       property="org.eclipse.core.resources.name"
                       value="*.system">
                 </test>
                 <test
                       property="org.eclipse.core.resources.name"
                       value="*.resourceenvironment">
                 </test>
                 <test
                       property="org.eclipse.core.resources.name"
                       value="*.allocation">
                 </test>-->
                 <!--<test
                       property="org.eclipse.core.resources.name"
                       value="*.confidentiality">
                 </test>
                 <test
                       property="org.eclipse.core.resources.name"
                       value="*.adversary">
                 </test>-->
              </or>
				       </adapt>
                  </iterate>
               </with>
            </visibleWhen>
         </menu>
         <separator
               name="edu.kit.ipd.sdq.mdsd.pcm2java.afterseparator"
               visible="true">
         </separator>
      </menuContribution>
   </extension>

</plugin>